[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
pandas = "*"
python-dotenv = "*"
openai = "*"
langchain-openai = "*"
jq = "*"
streamlit = "*"
faiss-cpu = "*"
beautifulsoup4 = "*"
tiktoken = "*"
pypdf = "*"
pypdf2 = "*"
datetime = "*"
typing = "*"
requests = "*"
langchain-community = "*"
numexpr = "*"
duckduckgo-search = "*"
ddgs = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
